<ul>

<h1>Random Student Generator</h1>
<p><a href="http://localhost:3000/flashcards/">Show Another Student</a><p>


<ul>
  <li>
    <img width = "200" src="<%= @image_url %>">
    <h3><%= @first_name %> <%= @last_name %> </h3>
  </li>
</ul>



